/* Base sprite element */
.type-icon {
	display: inline-block;
	width: 115px;
	height: 115px;
	background-image: url('/img/pokemon_tcg_types.png');
	background-repeat: no-repeat;
	background-size: 600px 450px; /* Force image scale so coordinate grid stays exact */
	border-radius: 50%;           /* Optional: crops exact circle */
}

/* --- Row 1 --- */
.type-icon.fighting  { background-position: -55px -40px; }
.type-icon.colorless { background-position: -180px -40px; }
.type-icon.psychic   { background-position: -300px -40px; }
.type-icon.water     { background-position: -425px -40px; }

/* --- Row 2 --- */
.type-icon.grass     { background-position: -115px -165px; }
.type-icon.fairy     { background-position: -240px -165px; }
.type-icon.fire      { background-position: -360px -165px; }

/* --- Row 3 --- */
.type-icon.electric { background-position: -55px -290px; }
.type-icon.dark  { background-position: -180px -290px; }
.type-icon.metal     { background-position: -300px -290px; }
.type-icon.dragon    { background-position: -425px -290px; }

.type-icon.sm {
	zoom: 0.15;
}

.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: #333;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 50%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.capitalize::first-letter {
  text-transform: uppercase;
}
